@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gamja Flower", cursive;
}

#modalBtn.modalBtn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.modalOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
}

.modalFrame {
  width: 700px;
  height: 80%;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal {
  width: 400px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slideBox {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow-x: hidden;
}

.slideList {
  height: 100%;
  display: flex;
  align-items: center;
  transform: translate3d(-400px, 0px, 0px);
}
.slide {
  width: 400px;
  height: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#closeBtn.closeBtn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  background-color: transparent;
  border: none;
}

.prevBtn,
.nextBtn {
  width: 20%;
  height: 30%;
  font-size: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
}

.image {
  width: 80%;
  height: 30%;
  background-color: orange;
}

.typeName {
  width: 90%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.desc {
  width: 90%;
  height: 20%;
  background-color: skyblue;
  margin-bottom: 30px;
}

.resultsItems {
  width: 90%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  width: 25%;
  height: 90%;
  background-color: greenyellow;
  margin: 0 5%;
  border-radius: 50%;
}

@media screen and (max-width: 45rem) {
  .modalFrame {
    width: 100%;
  }
}

/* 민주's css 끝 */
