#modalBtn.modalBtn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.modalOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
}

.modalFrame {
  width: 700px;
  height: 80%;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal {
  width: 400px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slideBox {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow-x: hidden;
}

.slideList {
  height: 100%;
  display: flex;
  align-items: center;
  transform: translate3d(-400px, 0px, 0px);
}
.slide {
  width: 400px;
  height: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#closeBtn.closeBtn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  background-color: transparent;
  border: none;
}

.prevBtn,
.nextBtn {
  width: 10%;
  height: 30%;
  font-size: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
}

.image {
  width: 60%;
  height: 30%;
}

.typeName {
  width: 80%;
  text-align: center;
  height: 5%;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 30px 0;
}

.resultValue {
  width: 20%;
  height: 5%;
  margin-bottom: 20px;
}

.desc {
  width: 90%;
  height: 50%;
  font-size: 18px;
}

.resultsItems {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 50px 0;
  padding: 0;
}

.item {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 250, 250, 0.5);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  transition: all 0.3s;
}

.item:hover {
}

.slideItem {
  width: 90px;
  height: 100px;
  background-size: cover;
}

@media screen and (max-width: 45rem) {
  .modalFrame {
    width: 100%;
  }
}

/* 민주's css 끝 */
