@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gamja Flower", cursive;
}

/* 태현's css */

/* Dark Mode */

html,
body {
  width: 100%;
  height: 100%;
  color: #222;
  background-color: whitesmoke;
}

body.dark-theme {
  color: #eee;
  background-color: #121212;
}

.dark__mode {
  position: absolute;
  top: 2%;
  right: 1%;
  z-index: 1000;
  width: 4%;
  height: 8%;
  background-color: dimgrey;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 20px;
  filter: 0;
  -webkit-filter: 0;
}

.dark__mode .moon {
  display: none;
}

/*  Main  */
.section1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 0;

  /* margin-top: 10%; */
}

.nameForm {
  width: 100px;
  height: 100px;
}

.title {
  width: auto;
  margin-top: 2%;
}

.subtitle {
  width: auto;
}

.name {
  width: 100px;
  padding: 0.3%;
}

.start {
  width: auto;
  padding: 0.8%;
}

.section,
.title,
.subtitle,
.name,
.start {
  margin-bottom: 3%;
}

/* Footer */

.footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0px;
  padding: 1%;
}

.count {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
}

.copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
