.QnA {
  display: none;
  margin: auto;
  width: 700px;
}
.Question {
  margin: 0 30px 30px 30px;
  padding: 10px;
  background-color: skyblue;
  text-align: center;
  border-radius: 20px;
  font-size: 15px;
}
.answerList {
  margin: 10px;
  padding: 5px;
  width: 100%;
  background-color: skyblue;
  border-radius: 20px;
}

/* loading bar */
.load {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.loadingBar {
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.loadingBar::before {
  content: attr(data-text);
  color: #6190e8;
  position: absolute;
  left: 0;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  animation: loading 2s ease infinite;
}

.loadingBar::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #6190e8;
  position: absolute;
  left: 0;
  bottom: -10px;
  animation: loadingLine 2s ease infinite;
}

@keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes loadingLine {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/*loading bar end..*/

/* .answerList:hover,
.answerList:focus {
  background-color: green;
  color: greenyellow;
} */

/* .status{
    height: 20px;
    width: 80%;
    border-radius: 20px;
    background-color: skyblue;
  }
  .status_bar{
    height: 100%;
    background-color: red;
  } */
