/* Yoojin's css start */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.all {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 0;
  filter: 0;
  -webkit-filter: 0;
}

.type {
  width: 500px;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-image {
  width: 70%;
  height: 150px;
  text-align: center;
  display: block;
  margin: 10px auto;
}
.type-image {
  width: 70%;
  height: 150px;
  text-align: center;
  display: block;
  margin: 10px auto;
}

.type-result {
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/vK6ivtL.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.result-text {
  width: 70%;
  height: 100px;
  margin: 10px auto;
}

.result-title {
  margin: 20px 0;
}

.bottomType {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.items {
  width: 500px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.items-title {
  border: 2px solid #000000;
  background-color: gainsboro;
}

.itemlist {
  display: flex;
  background-color: snow;
  padding: 15px;
}

.item00,
.item01,
.item02 {
  width: 80px;
  height: 80px;
  background-size: cover;
  margin: auto;
}

.item00 {
  width: 100px;
  height: 100px;
  background-image: url("https://i.imgur.com/rXazJcm.png");
  background-size: cover;
  margin: auto;
}

.item01 {
  width: 100px;
  height: 100px;
  background-image: url("https://i.imgur.com/yE3ZelT.png");
  background-size: cover;
  margin: auto;
}

.item02 {
  width: 100px;
  height: 100px;
  background-image: url("https://i.imgur.com/0bFXSRk.png");
  background-size: cover;
  margin: auto;
}

.btns {
  width: 300px;
  display: flex;
  margin-bottom: 20px;
}

.btn00,
.btn01,
.btn02,
.btn03 {
  width: 50px;
  height: 50px;
  background-size: cover;
  margin: auto;
}

.btn00 {
  background-image: url("https://i.imgur.com/MdQ0oHf.png");
}

.btn01 {
  background-image: url("https://i.imgur.com/CznbhPl.png");
}

.btn02 {
  background-image: url("https://i.imgur.com/4TlsiTO.png");
}

/* yoojin's css END */

.userName {
  width: 100px;
  height: 100px;
}

/* .mod00 {
  width: 50px;
  height: 50px;
  background-image: url("/static/해\ 이미지.png");
  background-size: cover;
}

/* .mod01 {
  width: 50px;
  height: 50px;
  /*background-color: goldenrod;
  background-image: url("https://i.imgur.com/yRAqMUv.png");
  background-size: cover;
}*/
