/* Yoojin's css start */

.all {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  filter: 0;
  -webkit-filter: 0;
}

.block {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.218);
  padding-top: 20px;
  z-index: 1;
}

@media screen and (max-width: 1370px) {
  .block {
    width: 50%;
  }
}
@media screen and (max-width: 1160px) {
  .block {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  .block {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .block {
    width: 100%;
  }
}

.type {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultImage {
  padding-bottom: 30px;
}

.typeImage {
  width: auto;
  height: 150px;
  text-align: center;
  display: block;
  margin: 20px auto 10px auto;
}

.typeResult {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resultTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
}

.resultDesc {
  width: 80%;
  height: 60%;
  padding: 30px;
  font-size: 20px;
}

#result {
  padding-top: 15px;
}

.resultPercent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
}

.descTitle {
  padding-bottom: 15px;
}

.nameFrame {
  height: 30%;
}

#result {
  height: 40%;
}

.userName {
  width: 100px;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
}

.static {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.caution {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.bottomType {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.items {
  width: 500px;
  height: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
}

.itemsTitle {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background-color: rgba(105, 156, 179, 0.348);
}

.itemList {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.resultItemFrame {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 250, 250, 0.5);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  transition: all 0.3s;
}

.resultItemFrame:hover {
  width: 125px;
  height: 125px;
  background-color: rgb(255, 250, 250);
}

.itemImage {
  width: 90px;
  height: 100px;
  background-size: cover;
}

.btns {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.btn {
  border: none;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.btnImg00:hover,
.btnImg01:hover,
.btnImg02:hover {
  width: 60px;
  height: 60px;
}

.btnImg00,
.btnImg01,
.btnImg02 {
  width: 50px;
  height: 55px;
  transition: all 0.3s;
}
/* yoojin's css END */

/* .mod00 {
  width: 50px;
  height: 50px;
  background-image: url("/static/해\ 이미지.png");
  background-size: cover;
}

/* .mod01 {
  width: 50px;
  height: 50px;
  /*background-color: goldenrod;
  background-image: url("https://i.imgur.com/yRAqMUv.png");
  background-size: cover;
}*/

/* result items modal */

.itemModalCloseBtn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  background-color: transparent;
  border: none;
}

.itemModal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
}

.itemModalFrame {
  width: 700px;
  height: 80%;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.itemsContainer {
  width: 700px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.recommendItem0,
.recommendItem1,
.recommendItem2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.itemRecommends {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 50px;
}

.itemRecommends2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recommendType {
  width: 700px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.itemTypeName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100px;
  font-size: 36px;
  padding-bottom: 50px;
}

.itemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.recommendItem0 {
  display: none;
}
.recommendItem1 {
  display: none;
}
.recommendItem2 {
  display: none;
}

.recommendImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  margin-bottom: 20px;
}

.recommendImage img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

.recommendName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.recommendLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border-radius: 15px;
}

.recommendLink a {
  text-decoration: none;
  color: inherit;
}
