* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Dark Mode */

body {
  color: #222;
  background-color: #fff;
}

body.dark-theme {
  color: #eee;
  background-color: #121212;
}

.dark__mode {
  position: absolute;
  top: 2%;
  right: 1%;
  width: 4%;
  height: 8%;
  background-color: dimgrey;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 20px;
}

.dark__mode .moon {
  display: none;
}

/*  Main  */
.section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 10%;
}

.title {
  width: auto;
  height: 100%;
  margin-top: 2%;
}

.subtitle {
  width: auto;
  height: 100%;
}

.name {
  width: auto;
  height: 100%;
  padding: 0.3%;
}

.start {
  width: auto;
  height: 100%;
  padding: 0.8%;
}

.section,
.title,
.subtitle,
.name,
.start {
  margin-bottom: 3%;
}

/* Footer */

.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
}

.footer .visitors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;

  padding: 1%;
}

.footer .copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;

  padding: 1%;
}

/* 민주's css */
#modalBtn.modalBtn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.modalOverlay {
  width: 100%;
  height: 100%;
  position: fix;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.541);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 400px;
  height: 90%;
  position: relative;
  margin: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slideBox {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow-x: hidden;
}

.slideList {
  display: flex;
  transform: translate3d(-400px, 0px, 0px);
}
.slide {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#closeBtn.closeBtn {
  width: 10%;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 30px;
  background-color: transparent;
  border: none;
}

.prevBtn,
.nextBtn {
  width: 20%;
  height: 30%;
  font-size: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.image {
  width: 80%;
  height: 30%;
  background-color: orange;
}

.type {
  width: 90%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.desc {
  width: 90%;
  height: 20%;
  background-color: skyblue;
  margin-bottom: 30px;
}

.items {
  width: 90%;
  height: 25%;
  background-color: slateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  width: 25%;
  height: 90%;
  background-color: greenyellow;
  margin: 0 5%;
  border-radius: 50%;
}

/* 민주's css 끝 */
