* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Dark Mode */
.dark__mode {
  position: absolute;
  top: 2%;
  right: 1%;
  width: 4%;
  height: 8%;
  background-color: brown;
  border-radius: 50%;
}

/*  Main  */
.section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: burlywood;
  margin-top: 10%;
}

.title {
  background-color: cadetblue;
  width: auto;
  height: 100%;
  margin-top: 2%;
}

.subtitle {
  background-color: chartreuse;
  width: auto;
  height: 100%;
}

.name {
  background-color: cornflowerblue;
  width: auto;
  height: 100%;
  padding: 0.3%;
}

.start {
  background-color: crimson;
  width: auto;
  height: 100%;
  padding: 0.8%;
}

.section,
.title,
.subtitle,
.name,
.start {
  margin-bottom: 3%;
}

/* Footer */

.footer {
  background-color: darkgray;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
}

.footer .visitors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: darkgreen;
  padding: 1%;
}

.footer .copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: darkkhaki;
  padding: 1%;
}
