<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/intro.css">
    <link rel="stylesheet" href="../static/css/result.css">
    <link rel="stylesheet" href="../static/css/all_results.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/74ac6a490e.js" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body class="dark-theme || light-theme">

<!-- dark mode -->
<button class="dark__mode">
    <i class="fas fa-sun sun"></i>
    <i class="fas fa-moon moon"></i>
</button>

<!-- main section -->
<section class="section1">



    <div class="title">
        <h1>이것은 타이틀입니다.</h1>
    </div>


    <div class="subtitle">
        <h4>이것은 부제목입니다.</h4>
    </div>

    <form class="nameForm">
        <input type="text" class="name" placeholder="이름을 입력해주세요." id="visitor__name">
        <button class="start">
            <span>시작하기</span>
        </button>
    </form>





</section>


<!-- 원준님 작업 공간 -->
<section>

</section>


<!-- 유진님 작업 공간 -->

<section>
        
    <div class="mode">
        <div class="mod00"></div>
        <div class="mod01"></div>
    </div>
    <div class="all">
        <div class="type">
            <div >
                <img class="type-image" src="https://i.imgur.com/wSVqgj6.png" >
            </div>
            <div class="type-result">
                <div class="result-text">
                    <div class="result-title">

                        
                        <h4><span class="userName"></span>님은 안락함 추구자</h4>
                        <h2>판다형</h2>
                        <h4>안락함 추구자</h4>
                        <h2 id="result">판다형</h2>

                    </div>
                    <p class="result-desc">무슨 일을 함에 있어 편안한 환경부터 조성되어야 하는 당신은 판다형이다. 동해물과백두산이 마르고 닳도록 하느님이 보우하사 우리 나라만세. 블라블라. 판다는 귀엽죠 쏘 큐트.
                        멸종위기보호동물이랍니다. 대나무잎을 먹고 사는데 어린대나무잎을 좋아해요.</p></div>
            </div>
        </div>
        <div class="bottomType">
            <div class="items">
                <h2 class="items-title">판다형을 위한 아이템 추천</h2>
                <div class="itemlist">
                    <div class="item00"></div>
                    <div class="item01"></div>
                    <div class="item02"></div>
                </div>

            </div>
            <div class="btns">
                <div class="btn00"></div>
                <div class="btn01"></div>
                <div class="btn02"></div>
                <button id="modalBtn" class="btn03">종합결과 보기</button>
            </div>
        </div>
    </div>

</section>

<!-- 민주님 작업 공간 -->

<section>
    
    <div class="modalOverlay">
        <div class="modalFrame">
            <button id="closeBtn" class="closeBtn">X</button>
            <button class="prevBtn"><i class="fas fa-caret-left"></i></button>
            <div class="modal">
                <div class="slideBox">
        
                    <div class="slideList">
                        <div class="slide card01">
                            <div class="image"></div>
                            <h3 class="typeName">
                                typename**1**
                            </h3>
                            <p class="desc"></p>
                            <ul class="resultsItems">
                                <li class="item"></li>
                                <li class="item"></li>
                                <li class="item"></li>
                            </ul>
                        </div>
                        <div class="slide card02">
        
                            <div class="image"></div>
                            <h3  class="typeName">
                                typename**2**
                            </h3>
                            <p class="desc"></p>
                            <ul class="resultsItems">
                                <li class="item"></li>
                                <li class="item"></li>
                                <li class="item"></li>
                            </ul>
                        </div>
                        <div class="slide card03">
        
                            <div class="image"></div>
                            <h3  class="typeName">
                                typename**3**
                            </h3>
                            <p class="desc"></p>
                            <ul class="resultsItems">
                                <li class="item"></li>
                                <li class="item"></li>
                                <li class="item"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <ul class="slidePagination"></ul> -->
            </div>
            <button class="nextBtn"><i class="fas fa-caret-right"></i></button>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="footer" >
    <div class="count" id="counter">
        <span class="visitors"></span>
        <span class="totady"></span>
    </div>
    <div class="copyright">
        <span class="txt2">Copyright 2021. Team8 All rights reserved.</span>
    </div>

</footer>


<script src="/static/js/intro.js"></script>
<script src="/static/js/all_result.js"></script>
<script src="/static/js/backend.js"></script>
</body>
</html>
