<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Title</title>
</head>
<body>

<!-- dark mode -->
<div class="dark__mode">
    <span>다크모드</span>
</div>

<!-- main section -->
<section class="section">


    <div class="title">
        <h1>이것은 타이틀입니다.</h1>
    </div>


    <div class="subtitle">
        <h4>이것은 부제목입니다.</h4>
    </div>


    <input type="text" class="name" placeholder="이름을 입력해주세요.">


    <button class="start">
        <span>시작하기</span>
    </button>


</section>

<!-- Footer -->
<footer class="footer">

    <div class="visitors">일일 방문자 수 : 1명 / 총 방문자 수 : 100명</div>

    <div class="copyright">
        <span class="txt2">Copyright 2021. Team8 All rights reserved.</span>
    </div>

</footer>

</body>
</html>