<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://kit.fontawesome.com/74ac6a490e.js" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body class="dark-theme || light-theme">

<!-- dark mode -->
<button class="dark__mode">
    <i class="fas fa-sun sun"></i>
    <i class="fas fa-moon moon"></i>
</button>

<!-- main section -->
<section class="section">


    <div class="title">
        <h1>이것은 타이틀입니다.</h1>
    </div>


    <div class="subtitle">
        <h4>이것은 부제목입니다.</h4>
    </div>


    <input type="text" class="name" placeholder="이름을 입력해주세요.">


    <button class="start">
        <span>시작하기</span>
    </button>


</section>

<!-- Footer -->
<footer class="footer">

    <div class="visitors">일일 방문자 수 : 1명 / 총 방문자 수 : 100명</div>

    <div class="copyright">
        <span class="txt2">Copyright 2021. Team8 All rights reserved.</span>
    </div>

</footer>


<script src="/static/js/index.js"></script>
</body>
</html>